/* TinTucComponent.module.css */
.card-container {
    position: relative;
    /* Thêm các thuộc tính sau để canh giữa nút button và đè lên cả CardTinTuc */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Đảm bảo nút button ở trên cùng */
  }
  
  /* Thêm các thuộc tính CSS khác mà bạn muốn áp dụng cho nút button */
  